In [71]:
import pandas as pd
import numpy as np

 importing numpy and pandas

In [60]:
df = pd.read_csv('AirQualityUCI/AirQuality.csv')

reading csv file

In [61]:
df.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,3/10/2004,18:00:00,2.6,1360,150,11.9,1046,166,1056,113,1692,1268,13.6,48.9,0.7578
1,3/10/2004,19:00:00,2.0,1292,112,9.4,955,103,1174,92,1559,972,13.3,47.7,0.7255
2,3/10/2004,20:00:00,2.2,1402,88,9.0,939,131,1140,114,1555,1074,11.9,54.0,0.7502
3,3/10/2004,21:00:00,2.2,1376,80,9.2,948,172,1092,122,1584,1203,11.0,60.0,0.7867
4,3/10/2004,22:00:00,1.6,1272,51,6.5,836,131,1205,116,1490,1110,11.2,59.6,0.7888

showing few data of csv file

In [62]:
df.replace(to_replace = -200 , value = np.nan , inplace = True)

As csv contain "-200" as null value then replacing it "Null"

In [63]:
df.isnull().sum()

Date                0
Time                0
CO(GT)           1683
PT08.S1(CO)       366
NMHC(GT)         8443
C6H6(GT)          366
PT08.S2(NMHC)     366
NOx(GT)          1639
PT08.S3(NOx)      366
NO2(GT)          1642
PT08.S4(NO2)      366
PT08.S5(O3)       366
T                 366
RH                366
AH                366
dtype: int64

ANalysing null values

In [64]:
df.shape

(9357, 15)

In [65]:
df = df.drop(["Date" , "Time" , "NMHC(GT)" ],axis = 1)

Dropping not required data

In [66]:
df.columns

Index(['CO(GT)', 'PT08.S1(CO)', 'C6H6(GT)', 'PT08.S2(NMHC)', 'NOx(GT)',
       'PT08.S3(NOx)', 'NO2(GT)', 'PT08.S4(NO2)', 'PT08.S5(O3)', 'T', 'RH',
       'AH'],
      dtype='object')

In [76]:
for i in df.columns:
    temp_mean = np.mean(df[i])
    df[i].fillna(temp_mean , inplace=True)

Replacing null values with mean value

In [69]:
df.isnull().sum()

CO(GT)           0
PT08.S1(CO)      0
C6H6(GT)         0
PT08.S2(NMHC)    0
NOx(GT)          0
PT08.S3(NOx)     0
NO2(GT)          0
PT08.S4(NO2)     0
PT08.S5(O3)      0
T                0
RH               0
AH               0
dtype: int64

In [74]:
for i in df.columns:
    temp_mean = np.mean(df[i])
    std_dev = np.std(df[i])
    for j in range(len(df[i])):
        df[i][j] = abs(df[i][j] - temp_mean)/std_dev

In [ ]:
Normalizing the data to make it unit free as measurementunit is different

In [75]:
df.head()

<bound method NDFrame.head of         CO(GT)  PT08.S1(CO)  C6H6(GT)  PT08.S2(NMHC)   NOx(GT)  PT08.S3(NOx)  \
0     0.339856     1.222702  0.248813       0.408519  0.418252      0.875962
1     0.116071     0.903123  0.093547       0.060588  0.743974      1.344717
2     0.035905     1.420088  0.148325       0.000586  0.599209      1.209652
3     0.035905     1.297897  0.120936       0.033824  0.387231      1.018972
4     0.420023     0.809130  0.490684       0.394398  0.599209      1.467865
...        ...          ...       ...            ...       ...           ...
9352  0.719796     1.006516  0.467923       0.618807  1.163828      1.177822
9353  0.187881     0.296864  0.180341       0.335874  0.548575      0.919609
9354  0.187881     0.198171  0.317285       0.473517  0.238363      0.923581
9355  0.040083     0.455085  0.079853       0.083529  0.061508      0.530304
9356  0.035905     0.135507  0.248813       0.412342  0.093597      0.720984

       NO2(GT)  PT08.S4(NO2)  PT08.S5(O3)         T        RH        AH
0     0.002078      0.694669     0.627494  0.544962  0.019689  0.676404
1     0.480235      0.302742     0.130331  0.579615  0.090386  0.758008
2     0.020692      0.290955     0.130812  0.741330  0.280772  0.695605
3     0.202847      0.376413     0.461080  0.845290  0.634256  0.603390
4     0.066230      0.099412     0.222979  0.822188  0.610691  0.598084
...        ...           ...          ...       ...       ...       ...
9352  1.751165      0.242419     1.807756  0.413781  1.174404  0.678930
9353  1.500702      0.566568     0.630054  0.691007  1.504322  0.792367
9354  1.409625      0.634345     0.176896  0.991336  1.822458  0.972502
9355  0.977006      1.223708     0.647495  1.153052  2.105245  1.292602
9356  1.250239      0.964388     0.529725  1.176154  2.128810  1.320645

[9357 rows x 12 columns]>

Data is prepared for modelling